@charset "utf-8";
/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a:link {
	background-color: transparent;
	text-decoration: none;
	color: purple;
	
}
a:visited {
	text-decoration: none;
	background-color: transparent;
	color: purple;
	
}
a:hover {
	text-decoration: none;
	background-color: transparent;
	color: purple;
	
}
a:active {
	text-decoration: none;
	background-color: transparent;
	color: purple;
	
}
a.classe2:link {
	background-color: white;
	text-decoration: none;
	color: #666666;
	font-family: "Helvetica";
	font-weight: bold;
	transition: 0.3s;
	
}
a.classe2:visited {
	text-decoration: underline;
	background-color: white;
	color: #666666;
	font-family: "Helvetica";
	font-weight: bold;
	transition: 0.3s
	
}
a.classe2:hover {
	text-decoration: none;
	background-color: #f2f2f2;
	color: #666666;
	font-family: "Helvetica";
	font-size: 120%;
	font-weight: bold;
	transition: 0.3s
	
}
a.classe2:active {
	text-decoration: none;
	background-color: white;
	color: #666666;
	font-family: "Helvetica";
	font-weight: bold;
	transition: 0.3s
	
}

#topo {
	background:#FFFF;
	height:165px;
	
	box-shadow: 0px 5px 20px #cccccc;
}
#conteudo {
	z-index:2;
	margin-top:15px;
	margin-bottom:15px;
}
#texto {
	margin-top:15px;
	margin-bottom:15px;
	background:#ffffff;
	box-shadow: 0px 5px 20px #cccccc;
	font-family: "Helvetica"
}
#rodape {
	height:50px;
	background: #008282;
	color:#ffff;
	font-size:13px;
	padding-top:10px;
}
